body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


table.sorting tr:not(.home){
    cursor:pointer;
}
.ui-status-highlight{
    border:1px dashed #ff0000;
}

div.new-cat {
    margin-top:30px;
    position:relative;
}

span.ajax-text {
display:none;
}

table.sorting tr{
    padding:20px !important;
}